<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SentenceParserSuite">
	<test thread-count="5" name="WordLengthTest">
		<classes>
			<class name="com.shotkin.WordLengthTest">
				<methods>
					<include name="nonSentence" />
					<include name="testGetLongestWords" />
				</methods>
			</class>
		</classes>
	</test> <!-- WordLengthTest -->
</suite> <!-- SentenceParserSuite -->
